root = true

[*.{cs,axaml,axaml.cs,csproj,sln,json,md}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
csharp_new_line_before_open_brace = all
csharp_preferred_modifier_order = public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async:suggestion

# 一般取消 .NET  analyzers 常见的不生成信息警告，避免噪音
dotnet_diagnostic.CA1031.severity = none
